<% layout('../layouts/header') -%>
<section class="hero is-fullheight-with-navbar has-background-white" id="about" style="overflow: hidden;">
	<div class="hero-body">
		<div class="container has-text-black">
			<h1 class="title is-size-1 has-text-weight-bold has-text-black has-text-centered" style="margin-top: 32px;" data-aos="fade-right" data-aos-delay="150" data-aos-duration="500">
				Delete
			</h1>
			<div class="columns is-centered">
				<div class="column has-text-centered" data-aos="fade-right" data-aos-delay="140" data-aos-duration="500">
					<h2 class="subtitle is-size-3 has-text-black">
                        Are you sure you want to delete?
					</h2>
					<form action="/destroy/<%= employees.id %>" method="POST">
                        <button class="button is-block is-info is-large is-fullwidth" name="submit">Yes</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>